.github/
.vscode/
.husky/
coverage/
scripts/
src/
node_modules/
!node_modules/node-pty/
!node_modules/node-pty/**
.gitignore
.prettierrc
.prettierignore
tsconfig.json
webpack.config.js
eslint.config.mjs
vitest.config.ts
lefthook.yml
package-lock.json
**/*.map
**/*.spec.ts
